<div class="container">

    <div class="controls-pets">
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <div class="buttons">
            <button mat-fab class="green" aria-label="icon button with a bookmark icon" (click)="openModal()">
                <img src="../../../assets/img/add-24px.svg" style="color: white;" alt="">
            </button>
            
            <!-- Modal -->
            <div class="modal_addPet" id="modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Nueva mascota</h5>
                        </div>
                        <div class="modal-body">
                            
                            <form class="form">
                                <mat-form-field class="full-width">
                                    <mat-label>Nombre mascota</mat-label>
                                    <input matInput [(ngModel)]="newPet.nombre" name="name" type="text" placeholder="Ex. Pepe">
                                </mat-form-field>

                                <mat-form-field class="full-width">
                                    <mat-label>Selecciona tipo de animal</mat-label>
                                    <mat-select [(ngModel)]="newPet.tipo" name="type" >
                                        <mat-option value="{{type.nombre}}"
                                        *ngFor="let type of typesPets">{{type.nombre}}</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field class="full-width">
                                    <mat-label>URL imagen</mat-label>
                                    <input matInput [(ngModel)]="newPet.urlimg" name="urlimg" type="text" placeholder="Ex. https://www.imagen.com/example-img">
                                </mat-form-field>
                            </form>


                        </div>
                        <div class="modal-footer">
                            <button mat-flat-button color="primary" (click)="postPet()">Agregar</button>
                            <button mat-flat-button color="basic" (click)="closeModal()" >Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>

    <div class="table-pets">

        <!-- Modal -->
        <div class="modal_updatePet" id="modalUpdate">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Actualizar Mascota</h5>
                    </div>
                    <div class="modal-body">
                        
                        <form class="form">
                            <mat-form-field class="full-width">
                                <mat-label>Nombre mascota</mat-label>
                                <input matInput [(ngModel)]="updatePet.nombre" name="name" type="text" placeholder="Ex. Pepe">
                            </mat-form-field>

                            <mat-form-field class="full-width">
                                <mat-label>Selecciona tipo de animal</mat-label>
                                <mat-select [(ngModel)]="updatePet.tipo" name="type" >
                                    <mat-option value="{{type.nombre}}"
                                    *ngFor="let type of typesPets">{{type.nombre}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field class="full-width">
                                <mat-label>URL imagen</mat-label>
                                <input matInput [(ngModel)]="updatePet.urlimg" name="urlimg" type="text" placeholder="Ex. https://www.imagen.com/example-img">
                            </mat-form-field>
                        </form>


                    </div>
                    <div class="modal-footer">
                        <button mat-flat-button color="primary" (click)="putPet()">Actualizar</button>
                        <button mat-flat-button color="basic" (click)="closeModalUpdate()" >Cerrar</button>
                    </div>
                </div>
            </div>
        </div>



        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Tipo</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr
                *ngFor="let index of counter">
                    <th scope="row">{{index + 1}}</th>
                    <td>{{pets[index].nombre}}</td>
                    <td>{{pets[index].tipo}}</td>
                    <td style="width: 200px;">
                        <button mat-mini-fab color="warn" class="button-del-upd" name="{{index}}" (click)="deletePet(index)">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <button mat-mini-fab color="basic" class="button-del-upd" name="{{index}}" (click)="openModalUpdate(index)">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </td>
                    
                </tr>
            </tbody>
        </table>
    </div>

</div>
