.header{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.content-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dog-svg{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 400px;
    transform: translate(-20%, 10%);
}

.beagle-svg{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 450px;
    transform: translateX(-20%);
}

.cat-svg{
    position: absolute;
    right: 0;
    top: 50%;
    width: 200px;
    transform: translate(40%, 50%) scaleX(-1);
}

.elephant-svg{
    position: absolute;
    right: 0;
    top: 0;
    width: 500px;
    transform: translate(40%, 50%) scaleX(-1);
}

.title-page h1{
    font-size: 4em;
    text-align: left;
}

.carousel{
    width: 500px;
    height: 700px;
}

.img-carousel{
    width: 500px;
    height: 700px;
}